{
  "plugins": ["prettier-plugin-jsdoc"],

  "arrowParens": "always",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",

  "jsdocCommentLineStrategy": "multiline",

  "overrides": [
    {
      "files": ["*.json", ".eslintrc", ".prettierrc"],
      "options": {
        "parser": "json",
        "singleQuote": false,
        "trailingComma": "none",
        "useTabs": false,
        "tabWidth": 2
      }
    },
    {
      "files": "**/core/*.ts",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
